// -----------------------------------------------------------------------------
// This file contains GLOBAL color declarations
// -----------------------------------------------------------------------------

////
/// @group color
////

/// Primary Color: blue
/// @type Color
$primary: #0077ff;

/// secondary Color: red
/// @type Color
$secondary: #ff0062;

/// success Color: green
/// @type Color
$success: #07f126;

/// default Color: light-gray
/// @type Color
$default: #949393;
